p{
    text-align: center;
    color: rgb(1, 12, 22);
}

h1{
    text-align: center;
    text-shadow:azure;
    color: blue;
}

img{

    border-radius: 30%;
    height: 240px;
    margin:auto;
    display:block;
   width: 280px;
   border-color: blue;
   border-style: outset;
   border-width: 8px;
}

#btn{
    display: block;
    margin: auto;
    background-color: blue;
    color: white;
    border-color: blue;
}

